.call-to-action {
  background: var(--soft-grey-bg);
  &__wrapper {
    padding: 104px 88px 113px;
    row-gap: calc(var(--unit-16) * 3);
  }
  &__title {
    p {
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 140%;
      color: var(--black);
      padding-right: calc(366px - 88px);
    }
  }
}

@media screen and (max-width: 767px) {
  .call-to-action {
    padding: 40px 16px 31px;
    &__wrapper {
      padding: 0;
      row-gap: 31px;
      align-items: center;
      a {
        display: block;
        width: 100%;
        button {
          width: 100%;
        }
      }
    }
    &__title {
      padding: 0 calc(60px - 16px);
      p {
        padding-right: 0;
        text-align: center;
        font-size: 18px;
      }
    }
    
  }
}