<div class="call-to-action">
  <div class="width bg bg_grey">
    <div class="call-to-action__wrapper flex --dir-column">
      <div class="call-to-action__title">
        <p>
          Служба Яндекс.Рефераты предназначена для студентов и школьников,
          дизайнеров и журналистов, создателей научных заявок и отчетов — для
          всех, кто относится к тексту, как к количеству знаков.
        </p>
      </div>
      <a href="./category.html">
        @@include('bem-blocks/btn/btn.html', { 
          "mod":"btn_color_green btn_w_348 btn_h_64 btn_font_18", 
          "text":"В каталог" 
        })
      </a>
      
    </div>
  </div>
</div>
