<div class="slider-products flex --j-space-between">
  <div class="slider-item col-5">
    @@include('_product-card.html')
  </div>
  <div class="slider-item col-5">
    @@include('_product-card.html')
  </div>
  <div class="slider-item col-5">
    @@include('_product-card.html')
  </div>
  <div class="slider-item col-5">
    @@include('_product-card.html')
  </div>
  <div class="slider-item col-5">
    @@include('_product-card.html')
  </div>
  <div class="slider-item col-5">
    @@include('_product-card.html')
  </div>
  <div class="slider-item col-5">
    @@include('_product-card.html')
  </div>
  <div class="slider-item col-5">
    @@include('_product-card.html')
  </div>
  <div class="slider-item col-5">
    @@include('_product-card.html')
  </div>
  <div class="slider-item col-5">
    @@include('_product-card.html')
  </div>
</div>