<div class="product--card">
  <div class="product--card__images">
    <div class="slider-product-card no-dots arrows-hover has-favourites">
      <div class="slider-item">
        <img class="product-image" src="./img/product.webp" alt="" />
      </div>
      <div class="slider-item">
        <img class="product-image" src="./img/product.webp" alt="" />
      </div>
      <div class="slider-item">
        <img class="product-image" src="./img/product.webp" alt="" />
      </div>
    </div>
    <div class="add-to-cart">
      <button>Добавить в корзину</button>
    </div>
  </div>
    
    <div class="product--card__description flex --j-space-between">
      <div class="product--card__texts flex --dir-column">
        <div class="product--card__title">Название товара</div>
        <div class="product--card__price">2000 руб</div>
      </div>
      <div class="product--card__colors">
        <ul class="cp flex">
          <li class="cp__color cp__color--676767"></li>
          <li class="cp__color cp__color--948080"></li>
        </ul>
      </div>
    </div>
</div>
