<div class="products--slider flex --j-space-between">
  <div class="products--slider__item">
    @@include('_product-card.html')
  </div>
  <div class="products--slider__item">
    @@include('_product-card.html')
  </div>
  <div class="products--slider__item">
    @@include('_product-card.html')
  </div>
  <div class="products--slider__item">
    @@include('_product-card.html')
  </div>
  <div class="products--slider__item">
    @@include('_product-card.html')
  </div>
  <div class="products--slider__item">
    @@include('_product-card.html')
  </div>
  <div class="products--slider__item">
    @@include('_product-card.html')
  </div>
  <div class="products--slider__item">
    @@include('_product-card.html')
  </div>
  <div class="products--slider__item">
    @@include('_product-card.html')
  </div>
  <div class="products--slider__item">
    @@include('_product-card.html')
  </div>
</div>