.products-loop {
  padding-bottom: 83px;
}

.loop-grid {
  grid-template-columns: repeat(4,24.3%);
  display: grid;
  -webkit-column-gap: 0.93%;
  -moz-column-gap: 0.93%;
  column-gap: 0.93%;
  row-gap: 16px;
  padding: 0 16px;
}

.loop-grid_columns_3 {
  grid-template-columns: repeat(3, 32.7%) !important;
}

.loop-grid_columns_4 {
  grid-template-columns: repeat(4,24.3%);
}