<div class="products bg bg_grey">
  <div class="products-loop width">
    <div class="loop-grid">
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize": "product-card__images_size_medium",
        "modificator": "slider_dots_disabled slider_arrows_hover slider_favourites_enabled",
        "num":"1"
      })
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize": "product-card__images_size_medium",
        "modificator": "slider_dots_disabled slider_arrows_hover slider_favourites_enabled",
        "num":"2"
      })
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize": "product-card__images_size_medium",
        "modificator": "slider_dots_disabled slider_arrows_hover slider_favourites_enabled",
        "num":"3"
      })
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize": "product-card__images_size_medium",
        "modificator": "slider_dots_disabled slider_arrows_hover slider_favourites_enabled",
        "num":"4"
      })
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize": "product-card__images_size_medium",
        "modificator": "slider_dots_disabled slider_arrows_hover slider_favourites_enabled",
        "num":"5"
      })
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize": "product-card__images_size_medium",
        "modificator": "slider_dots_disabled slider_arrows_hover slider_favourites_enabled",
        "num":"6"
      })
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize": "product-card__images_size_medium",
        "modificator": "slider_dots_disabled slider_arrows_hover slider_favourites_enabled",
        "num":"7"
      })
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize": "product-card__images_size_medium",
        "modificator": "slider_dots_disabled slider_arrows_hover slider_favourites_enabled",
        "num":"8"
      })
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize": "product-card__images_size_medium",
        "modificator": "slider_dots_disabled slider_arrows_hover slider_favourites_enabled",
        "num":"9"
      })
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize": "product-card__images_size_medium",
        "modificator": "slider_dots_disabled slider_arrows_hover slider_favourites_enabled",
        "num":"10"
      })
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize": "product-card__images_size_medium",
        "modificator": "slider_dots_disabled slider_arrows_hover slider_favourites_enabled",
        "num":"11"
      })
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize": "product-card__images_size_medium",
        "modificator": "slider_dots_disabled slider_arrows_hover slider_favourites_enabled",
        "num":"12"
      })
    </div>
  </div>
</div>