<div class="swipe-icon">
  <svg width="36" height="3" viewBox="0 0 36 3" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="36" width="3" height="36" rx="1.5" transform="rotate(90 36 0)" fill="#767676"/>
  </svg>
</div>
<div class="single-product-mob-name">Название товара</div>
<div class="single-product-mob-description bg bg_grey">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
</div>
<div class="single-product-mob-price">2000 руб</div>
<div class="single-product-mob-credits flex --j-space-between --a-center">
  <div class="single-product-mob-credits__color-panel">
    @@include('bem-blocks/color-panel/color-panel.html')
  </div>
  <div class="single-product-mob-credits__vendorcode">
    <p>АРТ. 1233/001</p>
  </div>
  <div class="single-product-mob-credits__icons flex">
    <div class="product-credits__icon icon-share"></div>
    <div class="product-credits__icon icon-favs"></div>
  </div>
</div>
<div class="single-product-mob-credits__add-to-cart">
  @@include('bem-blocks/add-to-cart/add-to-cart.html', {
    "modificator":"add-to-cart_single-product",
    "btnMod":"btn_color_white btn_w_max btn_h_64 btn_font_16 btn_border_4e4e4e",
    "text":"Выберете размер и количество"
  })
</div>