<div class="tabs">
  <ul class="tab-group">
    <li class="tab active"><a href="#s">S</a></li>
    <li class="tab"><a href="#l">L</a></li>
    <li class="tab"><a href="#xl">XL</a></li>
  </ul>
  <div class="tab-content">
    <div id="s">   
      <div class="tab-item flex --dir-column --a-stretch">
        <div class="tab-item-block flex --dir-column --a-stretch">
          <h6>Грудь</h6>
          <div class="tab-item-table flex bg bg_grey">
            <div class="tab-item-column flex --dir-column --j-center">
              <div class="tab-item-column-title">
                <p>S</p>
              </div>
              <div class="tab-item-column-content">
                <p>32</p>
              </div>
            </div>
            <div class="tab-item-column flex --dir-column --j-center">
              <div class="tab-item-column-title">
                <p>L</p>
              </div>
              <div class="tab-item-column-content">
                <p>34</p>
              </div>
            </div>
            <div class="tab-item-column flex --dir-column --j-center">
              <div class="tab-item-column-title">
                <p>XL</p>
              </div>
              <div class="tab-item-column-content">
                <p>36-38</p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-item-block flex --dir-column --a-stretch">
          <h6>Талия</h6>
          <div class="tab-item-table flex bg bg_grey">
            <div class="tab-item-column flex --dir-column --j-center">
              <div class="tab-item-column-title">
                <p>S</p>
              </div>
              <div class="tab-item-column-content">
                <p>32</p>
              </div>
            </div>
            <div class="tab-item-column flex --dir-column --j-center">
              <div class="tab-item-column-title">
                <p>L</p>
              </div>
              <div class="tab-item-column-content">
                <p>34</p>
              </div>
            </div>
            <div class="tab-item-column flex --dir-column --j-center">
              <div class="tab-item-column-title">
                <p>XL</p>
              </div>
              <div class="tab-item-column-content">
                <p>36-38</p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-item-block flex --dir-column --a-stretch">
          <h6>Длина руки</h6>
          <div class="tab-item-table flex bg bg_grey">
            <div class="tab-item-column flex --dir-column --j-center">
              <div class="tab-item-column-title">
                <p>S</p>
              </div>
              <div class="tab-item-column-content">
                <p>32</p>
              </div>
            </div>
            <div class="tab-item-column flex --dir-column --j-center">
              <div class="tab-item-column-title">
                <p>L</p>
              </div>
              <div class="tab-item-column-content">
                <p>34</p>
              </div>
            </div>
            <div class="tab-item-column flex --dir-column --j-center">
              <div class="tab-item-column-title">
                <p>XL</p>
              </div>
              <div class="tab-item-column-content">
                <p>36-38</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="l">   
      tab2
    </div>
    <div id="xl">   
      tab3
    </div>
  </div>
</div>