.products-slider-block {
  padding: 64px 88px;
  h2 {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 140%;
    color: #4e4e4e;
    padding-bottom: 24px;
  }
}

.products-slider > .slick-list {
  padding: 0 12% 0 0 !important;
}

.products-slider .product-card {
  margin: 0 12px;
}

.slick-slideshow__slide h3 {
  background: #fff;
  color: black;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}

.products-slider {
  max-width: 100%;
  margin: 0 auto;
  margin-left: -12px;
  background: #fff;
  & > .slick-next,
  & > .slick-prev {
    top: 40%;
    width: 72px;
    height: 80%;
    &::before,
    &::after {
      width: 72px;
      height: 72px;
    }
    &::before {
      background-size: 24%;
    }
  }
  & > .slick-prev {
    margin-left: 12px;
  }
  & > .slick-disabled {
    opacity: 0;
    pointer-events: none;
  }
}

.slick-list {
  padding-left: 0px !important; // half partial
}


.product-card__images_size_small .product-card-slide-bg {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.product-card__images_size_small .product-card-slider-ratio {
  width: 100%;
}

.product-card__images_size_small .product-card-slider-ratio-inner {
  position: relative;
  height: 0;
  border: none;
  padding-top: 122.093%;
}

.product-card__images_size_small .product-card-slider-ratio-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
}