<div class="products-slider-block width bg @@bgMod">
  <h2>@@h2text</h2>
  <div class="products-slider">
    <div class="slick-slideshow__slide">
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize":"product-card__images_size_small",
        "modificator":"slider_dots_disabled slider_favourites_enabled slider_arrows_hover",
        "num":"101"
      })
    </div>
    <div class="slick-slideshow__slide">
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize":"product-card__images_size_small",
        "modificator":"slider_dots_disabled slider_favourites_enabled slider_arrows_hover",
        "num":"102"
      })
    </div>
    <div class="slick-slideshow__slide">
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize":"product-card__images_size_small",
        "modificator":"slider_dots_disabled slider_favourites_enabled slider_arrows_hover",
        "num":"103"
      })
    </div>
     <div class="slick-slideshow__slide">
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize":"product-card__images_size_small",
        "modificator":"slider_dots_disabled slider_favourites_enabled slider_arrows_hover",
        "num":"104"
      })
    </div>
     <div class="slick-slideshow__slide">
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize":"product-card__images_size_small",
        "modificator":"slider_dots_disabled slider_favourites_enabled slider_arrows_hover",
        "num":"105"
      })
    </div>
    <div class="slick-slideshow__slide">
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize":"product-card__images_size_small",
        "modificator":"slider_dots_disabled slider_favourites_enabled slider_arrows_hover",
        "num":"106"
      })
    </div>
    <div class="slick-slideshow__slide">
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize":"product-card__images_size_small",
        "modificator":"slider_dots_disabled slider_favourites_enabled slider_arrows_hover",
        "num":"107"
      })
    </div>
    <div class="slick-slideshow__slide">
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize":"product-card__images_size_small",
        "modificator":"slider_dots_disabled slider_favourites_enabled slider_arrows_hover",
        "num":"108"
      })
    </div>
  </div>
</div>