.topbar-subcategories {
  padding: 40px 199px 0;
  width: 1440px;
  margin: 0 auto;
  &__item {
    a {
      row-gap: var(--unit-16);
    }
    p {
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      text-transform: uppercase;
      color: var(--main-grey);
    }
  }
  &__item:hover,
  &__item_current {
    p {
      text-decoration-line: underline;
    }
  }
}

@media screen and (max-width: 767px) {
  .topbar-subcategories {
    padding: 16px;
    max-width: 100vw;
    flex-wrap: wrap;
    column-gap: 14px;
    row-gap: 16px;
    justify-content: center !important;
    &__item {
      a {
        row-gap: 14px;
      }
      .clothe-img {
        width: 85px;
        height: 86.51px;
      }
      p {
        font-size: 8px;
      }
    }
  }
}