.menu-dropdown-item {
  position: absolute;
  z-index: 35;
  margin: 35px 40px;
  width: 1360px;
  background: #fff;
  left: 0;
  display: none;
  &__wrapper {
    padding: 52px 149px;
    align-items: stretch !important;
  }
  &__menu {
    width: 264px;
    row-gap: 56px;
    border-right: 1px solid #d9d9d9;
  }
}