



.slider-products {
  max-width: 1440px;
  margin: 0 auto;

  &>.slick-list {
    padding-left: 0px !important;
  }

  .slider-item {
    width: 258px !important;
    margin-right: 24px !important;
  }
}

