.collections-col-3 {
  padding: 56px 89px 67px;
}

.collection--card {
  width: 32%;
}

.collection--card:before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent;
  position: relative;
  display: block;
  top: 0;
  right: -100%;
  transform: translate(-100%, 100%);
  z-index: 11;
  background: url(/img/icon-favourite-card.svg) center center no-repeat;
  cursor: pointer;
}

.collection--card.favourite::before, 
.collection--card:hover::before {
  content: "";
  background: url(/img/icon-favourite-card-white.svg) center center no-repeat;
}

.collection--card__slider {
  height: 419px;
}

.collection--card__slider {
  .slick-arrow {
    visibility: hidden;
  }
}

.collection--card__slider:hover {
  .slick-arrow {
    visibility: visible;
    transition: all .2s;
  }
}