.collections-col-3 {
  padding: 56px 89px 67px;
}

.collection--card {
  width: 32%;
}

.collection--card.favourite::before {
  content: "";
  background: url(../img/icon-favourite-card-white.svg) center center no-repeat;
}

.collection--card__link {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 140%;
  color: var(--main-grey);

  a::after {
    content: '';
    background: url(../img/right-arrow.svg) center center no-repeat;
    width: 24px;
    height: 31px;
    display: inline-block;
    position: relative;
    bottom: -5px;
    right: -8px;
    transition: all .5s;
  }

  a:hover::after {
    right: -16px;
    transition: all .5s;
  }
}
