.header--inner {
  padding: 32px 40px 17px;
}

.header--menu {
  row-gap: 24px;
}

.header--menu__search {
  -moz-column-gap: 12px;
       column-gap: 12px;
  align-items: center;
}

.header--menu__search-form input[type=text],
.header--menu__search-form input[type=text]:focus,
.header--menu__search-form input[type=text]:focus-visible {
  border-width: 0 0 1px;
  border-color: var(--main-grey);
  width: 332px;
}
.header--menu__search-form input[type=text]::-moz-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  color: var(--main-grey);
  opacity: 0.42;
}
.header--menu__search-form input[type=text]:-ms-input-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  color: var(--main-grey);
  opacity: 0.42;
}
.header--menu__search-form input[type=text]::placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  color: var(--main-grey);
  opacity: 0.42;
}
.header--menu__search-form input[type=text]:focus-visible::-moz-placeholder {
  opacity: 0;
}
.header--menu__search-form input[type=text]:focus-visible:-ms-input-placeholder {
  opacity: 0;
}
.header--menu__search-form input[type=text]:focus-visible::placeholder {
  opacity: 0;
}

.header--menu__nav ul {
  -moz-column-gap: calc(var(--unit-16) * 2);
       column-gap: calc(var(--unit-16) * 2);
}

.header--menu__nav ul li, .header--menu__nav ul li a {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--main-grey);
}

.header--buttons-group {
  -moz-column-gap: var(--unit-16);
       column-gap: var(--unit-16);
}