.main--promo {
  padding: calc(var(--unit-16) * 3.5) calc(var(--unit-16) * 5.5);
  background: var(--soft-grey-bg);
}

.main--promo__inner {
  background: url(/img/promo.webp);
  height: 624px;
  row-gap: calc(var(--unit-16) * 2);
}

.promo--description {
  width: calc(100% - 410px);
  margin: 0 auto;
  padding: 37px 0 43px;
  background: #fff;
  column-gap: var(--unit-16);
}

.promo-title,
.promo-subtitle {
  font-family: "Noto Sans";
  font-style: normal;
  line-height: 140%;
  text-align: center;
  color: var(--main-grey);
}

.promo-title {
  font-weight: 300;
  font-size: 32px;
}

.promo-subtitle {
  font-weight: 400;
  font-size: 16px;
}

.promo--btn {
  margin-bottom: 113px;

  button {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    background: #FFFFFF;
    color: var(--main-grey);
    padding: var(--unit-16) 70px;
    border: 0;
    cursor: pointer;
  }

  button:hover {
    background: var(--soft-grey-bg);
    transition: all .5s;
  }
}
