


.col-5 {
  width: 17.92%;
}

.col-4 {
  width: 23.61%;
}

.with-menu {
  width: 22.92%;
}

.col-3 {
  width: 31.85%;
}

.products {
  background: var(--soft-grey-bg);
}

.products--inner {
  width: 1440px;
  margin: 0 auto;
}



.category-top-filters--inner {
  padding: 57px 88px;
  width: 1440px;
  margin: 0 auto;
}

.category-top-filters.sticky {
  position: fixed;
  width: 100%;
  top: 100px;
  z-index: 9999;
  transition: all 0.5s;
  background: #ffffff;
  z-index: 9999;
  transition: all 0.5s;
  .category-top-filters--inner {
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

.products-loop-padding {
  padding-top: 100px !important;
}

.breadcrumps {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  color: var(--main-grey);
  padding-top: 39px;
}

.viewing {
  column-gap: 33px;
}

.grid-toggle {
  column-gap: 8px;
}

[id="grid-3col"],
[id="grid-4col"] {
  position: absolute;
  display: none;
}

.products-loop {
  width: 1440px;
  margin: 0 auto;
  .products-loop--inner {
    grid-template-columns: repeat(4, 23.61%);
    display: grid;
    column-gap: 16px;
    row-gap: 16px;
    //grid-auto-rows: 516px;
    padding: 0 16px;
  }
  .product-card__images {
    height: 347px;
    .product-image {
      height: 347px;
    }
  }
}

.products-loop-3col {
  transition: all 0.5s;
  .products-loop--inner {
    grid-template-columns: repeat(3, 32.55%);
  }
  .product-card__images {
    height: 422.29px;
    .product-image {
      height: 422.29px;
    }
  }
}

.products-loop-4col {
  transition: all 0.5s;
  .products-loop--inner {
    grid-template-columns: repeat(4, 23.61%);
  }
  .product-card__images {
    height: 347px;
    .product-image {
      height: 347px;
    }
  }
}

.product-image {
  width: 100%;
  max-height: 422.29px;
  object-fit: cover;
  object-position: center center;
}

.grid-3col,
.grid-4col {
  width: 24px;
  height: 24px;
  background: inherit;
  color: #000;
  cursor: pointer;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

.grid-3col:after,
.grid-4col:after {
  content: "";
  text-decoration: none;
  width: 24px;
  height: 24px;
  position: absolute;
}

.grid-3col:after {
  background: url(../img/icon-3col.svg) center center no-repeat;
}

.grid-4col:after {
  background: url(../img/icon-4col.svg) center center no-repeat;
}

.sorting {
  column-gap: 24px;
}

.dropdown {
  position: relative;
  cursor: pointer;

  span {
    display: flex;
    align-items: center;
    column-gap: 4px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--main-grey);

    &::after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 22px;
      background: url(../img/dropdown.svg) center center no-repeat;
      transition: all 0.5s;
    }
  }
}

.dropdown.active {
  span::after {
    transform: rotate(-180deg);
    transition: all 0.5s;
  }
}

.dropdown-ul {
  background: #ffffff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  margin-top: 17px;
  z-index: 25;
  width: 284px;
  display: none;

  li {
    padding: 9px 16px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: var(--main-grey);
    display: flex;
    align-items: center;
    height: 40px;

    &:before {
      content: "";
      display: inline-block;
      border-radius: 50%;
      margin-right: 9px;
      width: 7px;
      height: 7px;
      background-color: transparent;
      border: 1px solid #4e4e4e;
      box-shadow: 0 0 0 1px #fff, 0 0 0 2px #4e4e4e;
    }

    &:hover {
      background: #eeeeee;
    }

    &:hover::before {
      background-color: #4e4e4e;
    }
  }
}

.dropdown.active ~ .dropdown-ul {
  display: block;
}

.quantity {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: var(--main-grey);
}
