.product-credits {
  width: 40%;
  &__title {
    h1 {
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 140%;
      color: var(--black);
      padding-bottom: 6px;
    }
  }
  &__icons {
    column-gap: 8px;
    padding-right: 40px;
  }
  &__icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    &::after {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
    }
    &.icon-share::after {
      background: url('../img/icon-share.svg') center center no-repeat;
    }
    &.icon-favs::after {
      background: url('../img/icon-favourite-topbar.svg') center center no-repeat;
    }
  }
  &__price {
    p {
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 140%;
      color: var(--main-grey);
      padding-bottom: 10px;
    }
  }
  &__vendorcode {
    p {
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 140%;
      color: #000000;
    }
  }
  &__color-panel {
    padding-bottom: 32px;
  }
  &__size-table {
    padding-bottom: 12px;
  }
}
