.topbar-filter__inner {
  padding: 57px 88px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  .quantity-mob {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .topbar-filter__inner {
    padding: 24px 16px 32px 19px;
    flex-wrap: wrap;
    row-gap: 16px;
  }
  .quantity {
    display: none;
  }
  .quantity-mob {
    display: block !important;
    width: 100%;
  }
}