<div id="sticky-side">
  <div id="side-box">
    <div class="side-bar-nav">
      <div class="side-header">Header
        <a href="#" class="side-popup_close img-replace" id="menu-close">X</a>
      </div>
      <div class="wrapper">
        <div class="side-bar-nav-menu">
          <ul class="flex --dir-column">
            <li class="side-bar-nav-menu-level-1 flex --dir-column">
              <a href="./category-page.html">Спальня</a>
              <ul class="flex --dir-column">
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Постельное белье</a>
                </li>
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Покрывала</a>
                </li>
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Пледы</a>
                </li>
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Подушки</a>
                </li>
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Одеяла</a>
                </li>
              </ul>
            </li>
            <li class="side-bar-nav-menu-level-1 flex --dir-column">
              <a href="./category-page.html">Гостинная</a>
              <ul class="flex --dir-column">
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Пледы</a>
                </li>
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Декор подушки</a>
                </li>
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Вазы</a>
                </li>
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Свечи и подсвечники</a>
                </li>
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Декоративные аксессуары</a>
                </li>
              </ul>
            </li>
            <li class="side-bar-nav-menu-level-1 flex --dir-column">
              <a href="./category-page.html">Кухня</a>
              <ul class="flex --dir-column">
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Посуда для приготовления</a>
                </li>
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Кухонные принадлежности</a>
                </li>
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Кухонный текстиль</a>
                </li>
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Аксессуары и декор</a>
                </li>
              </ul>
            </li>
            <li class="side-bar-nav-menu-level-1 flex --dir-column">
              <a href="./category-page.html">Столовая</a>
              <ul class="flex --dir-column">
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Сервировка</a>
                </li>
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Кофе и чай</a>
                </li>
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Столовые приборы</a>
                </li>
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Изделия из стекла</a>
                </li>
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Текстиль</a>
                </li>
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Аксессуары для стола</a>
                </li>
              </ul>
            </li>
            <li class="side-bar-nav-menu-level-1 flex --dir-column">
              <a href="./category-page.html">Ванная</a>
              <ul class="flex --dir-column">
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Полотенца</a>
                </li>
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Халаты и тапочки</a>
                </li>
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Коврики в ванной</a>
                </li>
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Натуральная косметика</a>
                </li>
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Аксессуары</a>
                </li>
              </ul>
            </li>
            <li class="side-bar-nav-menu-level-1 flex --dir-column">
              <a href="./category-page.html">Одежда и обувь</a>
              <ul class="flex --dir-column">
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Женщины</a>
                </li>
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Мужчины</a>
                </li>
                <li class="side-bar-nav-menu-level-2">
                  <a href="#" class="">Дети</a>
                </li>
              </ul>
            </li>
            <li class="side-bar-nav-menu-level-1 flex --dir-column">
              <a href="./category-page.html">Ароматы для дома</a>
            </li>
          </ul>
        </div>
      </div>
      </div>
  </div>
  <div class="contact-btn"></div>
</div>