.slider_favourites_enabled {
  box-sizing: border-box;
  outline: none;
  position: relative;

  &::after {
    content: "";
    width: 40px;
    height: 40px;
    background: url(../img/icon-favourite-card.svg) center center no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    cursor: pointer;
    box-sizing: border-box;
  }

  &:hover::after {
    content: "";
    background: url(../img/icon-favourite-card-white.svg) center center no-repeat;
  }
}