<footer class="footer flex --dir-column">
  <div class="footer--inner">
    <div class="footer--top flex --j-space-between">
      <div class="footer--top__menu flex">
        <div class="footer--top__menu-column">
          <h5 class="description-bold">Магазин</h5>
          <nav class="nav">
            <ul>
              <li class="footer--top__menu-column_item">
                <a href="#">Категории товаров</a>
              </li>
              <li class="footer--top__menu-column_item">
                <a href="#">Весь ассортимент</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer--top__menu-column">
          <h5 class="description-bold">О нас</h5>
          <nav class="nav">
            <ul>
              <li class="footer--top__menu-column_item">
                <a href="#">О компании</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer--top__menu-column">
          <h5 class="description-bold">Покупателям</h5>
          <nav class="nav">
            <ul>
              <li class="footer--top__menu-column_item">
                <a href="#">Покупка и возврат</a>
              </li>
              <li class="footer--top__menu-column_item">
                <a href="#">Гарантия качества</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer--top__menu-column">
          <h5 class="description-bold">Контакты</h5>
          <nav class="nav">
            <ul>
              <li class="footer--top__menu-column_item">
                <a href="#">Контакты</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="footer--top__logo">
        <a href="/">
          <img src="/img/footer_logo.svg" alt="Aura Home">
        </a>
      </div>
    </div>
    <div class="footer--bottom">
      <div class="footer--bottom__menu">
        <nav class="nav">
          <ul class="flex">
            <li><a href="#">Политика конфиденциальности</a></li>
            <li><a href="#">Политика использования файлов cookies</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>