.dropdown {
  position: relative;
  cursor: pointer;

  span {
    display: flex;
    align-items: center;
    column-gap: 4px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--main-grey);

    &::after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 22px;
      background: url('../img/dropdown.svg') center center no-repeat;
      transition: all 0.5s;
    }
  }
}

.dropdown-ul {
  background: #ffffff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  margin-top: 17px;
  z-index: 25;
  width: 284px;
  display: none;
}
