.footer {
  background: var(--green);
  .inner {
    padding: 88px 88px 56px;
  }
  .footer-main {
    padding-bottom: 118px;
    border-bottom: 1px solid #d9d9d9;
    .nav {
      &__level-1 {
        column-gap: calc(var(--unit-16) * 3);
      }
      &__level-1 > li {
        width: 150px;
        & > a {
          display: block;
          margin-bottom: var(--unit-16);
          font-family: "Noto Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 140%;
          color: #ffffff;
        }
      }
      &__level-2 > li {
        & > a {
          font-family: "Noto Sans";
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 140%;
          color: #dadada;
        }
        &:not(:last-child) {
          padding-bottom: 12px;
        }
      }
    }
    .logo {
      padding-right: 40px;
    }
  }
  .subfooter .nav {
    padding-top: var(--unit-16);
    ul {
      column-gap: var(--unit-16);
      li > a {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: #dadada;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    .inner {
      padding: 40px 16px;
    }
    .footer-main {
      padding-bottom: 20px;
      flex-direction: column-reverse;
      justify-content: flex-end;
      flex-wrap: wrap;
      max-height: 366px;
      .nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 10px;
        max-height: 334px;
        justify-content: space-around;
        column-gap: 20px;
        width: 50%;
        &__level-1 {
          display: contents;
          & > li {
            order: 1;
            width: 100%;
            &:nth-child(2) {
              order: 4;
            }
          }
        }
        &__level-2 {

        }
      }
      .logo {
        display: inline-block;
        align-self: flex-start;
        img {
          width: 111px;
          height: 66px;
        }
      }
    }
    .subfooter nav {
      padding-top: 24px;
      & > ul {
        flex-direction: column;
      }
    }
  }
}