<footer class="footer flex --dir-column">
  <div class="inner">
    <div class="footer-main flex --j-space-between">
      <nav class="nav">
        <ul class="nav__level-1 flex">
          <li>
            <a href="#">Магазин</a>
            <ul class="nav__level-2">
              <li><a href="#">Категории товаров</a></li>
              <li><a href="#">Весь ассортимент</a></li>
            </ul>
          </li>
          <li>
            <a href="#">О нас</a>
            <ul class="nav__level-2">
              <li><a href="#">О компании</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Покупателям</a>
            <ul class="nav__level-2">
              <li><a href="#">Покупка и возврат</a></li>
              <li><a href="#">Гарантия качества</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Контакты</a>
            <ul class="nav__level-2">
              <li><a href="#">Контакты</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="logo">
        <a href="/">
          <img src="./img/footer_logo.svg" alt="Aura Home">
        </a>
      </div>
    </div>
    <div class="subfooter">
      <nav class="nav">
        <ul class="flex">
          <li><a href="#">Политика конфиденциальности</a></li>
          <li><a href="#">Политика использования файлов cookies</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>