<input type="checkbox" id="nav-toggle" hidden>
      <nav class="side-menu">
        <div class="side-menu-inner">
          <label for="nav-toggle" class="nav-toggle" onclick></label>
          <div>
            <div class="side-menu-block">
              <a href="#"><h3>Спальня</h3></a>
              <ul>
                <li><a href="#">Постельное белье</a></li>
                <li><a href="#">Покрывала</a></li>
                <li><a href="#">Пледы</a></li>
                <li><a href="#">Подушки</a></li>
                <li><a href="#">Одеяла</a></li>
              </ul>
            </div>
            <div class="side-menu-block">
              <a href="#"><h3>Гостинная</h3></a>
              <ul>
                <li><a href="#">Пледы</a></li>
                <li><a href="#">Декор подушки</a></li>
                <li><a href="#">Вазы</a></li>
                <li><a href="#">Свечи и подсвечники</a></li>
                <li><a href="#">Декоративные аксессуары</a></li>
              </ul>
            </div>
            <div class="side-menu-block">
              <a href="#"><h3>Кухня</h3></a>
              <ul>
                <li><a href="#">Посуда для приготовления</a></li>
                <li><a href="#">Кухонные принадлежности</a></li>
                <li><a href="#">Кухонный текстиль</a></li>
                <li><a href="#">Аксессуары и декор</a></li>
              </ul>
            </div>
            <div class="side-menu-block">
              <a href="#"><h3>Столовая</h3></a>
              <ul>
                <li><a href="#">Сервировка</a></li>
                <li><a href="#">Кофе и чай</a></li>
                <li><a href="#">Столовые приборы</a></li>
                <li><a href="#">Изделия из стекла</a></li>
                <li><a href="#">Текстиль</a></li>
                <li><a href="#">Аксессуары для стола</a></li>
              </ul>
            </div>
            <div class="side-menu-block">
              <a href="#"><h3>Ванная</h3></a>
              <ul>
                <li><a href="#">Полотенца</a></li>
                <li><a href="#">Халаты и тапочки</a></li>
                <li><a href="#">Коврики в ванной</a></li>
                <li><a href="#">Натуральная косметика</a></li>
                <li><a href="#">Аксессуары</a></li>
              </ul>
            </div>
            <div class="side-menu-block">
              <a href="#"><h3>Одежда и обувь</h3></a>
              <ul>
                <li><a href="#">Женщины</a></li>
                <li><a href="#">Мужчины</a></li>
                <li><a href="#">Дети</a></li>
              </ul>
            </div>
            <div class="side-menu-block">
              <a href="#"><h3>Ароматы для дома</h3></a>
            </div>
          </div>
        </div>
      </nav>