<div class="single-product bg bg_white">
  <div class="width">
    <div class="product__wrapper flex">
      @@include('bem-blocks/single-product/product-description/product-description.html')
      @@include('bem-blocks/single-product/product-credits/product-credits.html')
    </div>
  </div>
</div>
<div class="single-product-mob">
  <div class="product__wrapper">
    <div class="single-product-mob-slider">
      @@include('bem-blocks/single-product-mob-slider/single-product-mob-slider.html')
    </div>
    <div class="single-product-mob-content flex --dir-column --a-center">
      @@include('bem-blocks/single-product-mob-content/single-product-mob-content.html')
    </div>
  </div>
</div>