.product {
  &__wrapper {
    padding: 56px 16px 92px;
    column-gap: 19px;
  }
}

.single-product-mob {
  display: none;
  overflow-x: hidden;
}

@media screen and (max-width: 767px) {
  .single-product-body {
    overflow: hidden;
    max-height: 100vh;
    height: 100vh;
  }
  .single-product-main {
    overflow: hidden;
    .single-product,
    .topbar,
    .products-slider-block {
      display: none !important;
    }
    & ~ .footer,
    & ~ .fixed-chat {
      display: none !important;
    }
  }
  
  .single-product-mob {
    display: block;
    overflow-y: hidden;
    .product__wrapper {
      height: calc(100vh - 58px);
      overflow: hidden;
    }
  }
  .product__wrapper {
    padding: 0 !important;
  }
}