<div class="wishlist bg bg_grey">
  <div class="products-loop width">
    <div class="wishlist__title">
      <h3>5 товаров в списке желаний</h3>
    </div>
    <div class="loop-grid">
      @@for (var i = 0; i < 5; i++) {
        @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
          "imagesize": "product-card__images_size_medium",
          "modificator":"slider_dots_disabled slider_arrows_hover slider_deleting_enabled"
        })
      }
    </div>
  </div>
</div>
<div class="wishlist__add-to-cart bg bg_white">
  <div class="width">
    <div class="wishlist__add-to-cart-wrapper">
      @@include('bem-blocks/add-to-cart/add-to-cart.html', {
        "modificator":"add-to-cart_wishlist",
        "btnMod":"btn_color_green",
        "text":"Добавить в корзину все товары (12000 руб)"
      })
    </div>
  </div>
</div>