.product-description {
  width: 60%;
  row-gap: 8px;
  &__text {
    background: #f4f4f4;
    margin: 0;
    padding: 40px 150px 40px 50px;
    row-gap: 8px;
    h3,
    p {
      font-family: "Noto Sans";
      font-style: normal;
      line-height: 140%;
    }
    h3 {
      font-weight: 300;
      font-size: 24px;
      color: var(--main-grey);
      padding-bottom: 4px;
    }
    p {
      font-weight: 400;
      font-size: 12px;
      color: var(--black);
    }
  }
  &__gallery {
    column-gap: 8px;
    width: 100%;
    a {
      flex-grow: 1;
    }
  }
  &__img {
    width: 100%;
  }
}

.mfp-bottom-bar,
.mfp-title,
.mfp-counter {
  display: none;
}

.mfp-content {
  width: 1360px;
  height: 80vh;
  background: #fff;
  padding: 72px 240px;
  display: inline-flex;
flex-direction: row;
max-height: 80vh;
align-items: center;
justify-content: center;
}

mfp-figure {
display: flex;
align-items: stretch;
justify-content: center;
}

.mfp-figure::after {
  box-shadow: none;
  background: #fff;
}

.mfp-arrow-left {
  &::before {
    content: '';
    display: inline-block;
    width: 72px;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 50%;
    border-right: 5px solid #fff;
    background: url('../img/slider-arrow.svg') center center no-repeat;
    transform: rotate(0deg);
    margin: 0 0 0 20px;
    //z-index: 999999;
  }
  &::after {
    display: none;
  }
}

.mfp-arrow-right {
  &::before {
    content: '';
    display: inline-block;
    width: 72px;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 50%;
    border-left: 0;
    background: url('../img/slider-arrow.svg') center center no-repeat;
    margin: 0;
  }
  &::after {
    display: none;
  }
}

.product-description__img-ratio {
  width: 100%;
}

.product-description__img-ratio-inner {
  position: relative;
  height: 0;
  border: none;
  padding-top: 49.045%;
  display: block;
}

.product-description__img-ratio-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.product-description__gallery-ratio {
  width: 100%;
}

.product-description__gallery-ratio-inner {
  position: relative;
  height: 0;
  border: none;
  padding-top: 106.987%;
  display: block;
}

.product-description__gallery-ratio-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
}