<div class="cart-block bg bg_grey">
  <div class="width">
    <div class="wrapper flex">
      <div class="cart-block-products flex --dir-column --a-stretch">
        <div
          class="cart-block-product deleting_enabled flex --dir-column --a-stretch"
        >
          <div class="cart-block-product-inner flex --a-stretch">
            <img
              src="./img/cart-product.webp"
              alt=""
              class="popup-cart__product-img"
            />
            <div
              class="cart-block-product__product-info flex --dir-column --j-space-between --a-stretch"
            >
              <h4 class="cart-block-product-title">Название товара</h4>
              <h5 class="cart-block-product-price">1000 руб</h5>
              <div class="cart-block-product__product-parameters flex">
                <div>
                  <p>Арт. 9372/032/710/73</p>
                  <p>140 x 270 cm</p>
                </div>
                <div>
                  <p>Размер - XL</p>
                  <p>Всего - 2000 руб</p>
                </div>
              </div>
              <div class="cart-block-product__product-btns flex">
                <div class="product-credits__icons flex">
                  <div class="product-credits__icon icon-share"></div>
                  <div class="product-credits__icon icon-favs"></div>
                </div>
                <div class="quantity-selects">
                  <button
                    class="quantity-step"
                    id="quantity-minus"
                    type="button"
                    onclick="quantityStepDown(this)"
                  >
                    -
                  </button>
                  <input
                    type="number"
                    step="1"
                    min="0"
                    value="0"
                    readonly
                    class="quantity-select"
                  />
                  <button
                    class="quantity-step"
                    id="quantity-plus"
                    type="button"
                    onclick="quantityStepUp(this)"
                  >
                    +
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="cart-block-product deleting_enabled flex --dir-column --a-stretch"
        >
          <div class="cart-block-product-inner flex --a-stretch">
            <img
              src="./img/cart-product.webp"
              alt=""
              class="popup-cart__product-img"
            />
            <div
              class="cart-block-product__product-info flex --dir-column --j-space-between --a-stretch"
            >
              <h4 class="cart-block-product-title">Название товара</h4>
              <h5 class="cart-block-product-price">1000 руб</h5>
              <div class="cart-block-product__product-parameters flex">
                <div>
                  <p>Арт. 9372/032/710/73</p>
                  <p>140 x 270 cm</p>
                </div>
                <div>
                  <p>Размер - XL</p>
                  <p>Всего - 2000 руб</p>
                </div>
              </div>
              <div class="cart-block-product__product-btns flex">
                <div class="product-credits__icons flex">
                  <div class="product-credits__icon icon-share"></div>
                  <div class="product-credits__icon icon-favs"></div>
                </div>
                <div class="quantity-selects">
                  <button
                    class="quantity-step"
                    id="quantity-minus"
                    type="button"
                    onclick="quantityStepDown(this)"
                  >
                    -
                  </button>
                  <input
                    type="number"
                    step="1"
                    min="0"
                    value="0"
                    readonly
                    class="quantity-select"
                  />
                  <button
                    class="quantity-step"
                    id="quantity-plus"
                    type="button"
                    onclick="quantityStepUp(this)"
                  >
                    +
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="cart-block-product deleting_enabled flex --dir-column --a-stretch"
        >
          <div class="cart-block-product-inner flex --a-stretch">
            <img
              src="./img/cart-product.webp"
              alt=""
              class="popup-cart__product-img"
            />
            <div
              class="cart-block-product__product-info flex --dir-column --j-space-between --a-stretch"
            >
              <h4 class="cart-block-product-title">Название товара</h4>
              <h5 class="cart-block-product-price">1000 руб</h5>
              <div class="cart-block-product__product-parameters flex">
                <div>
                  <p>Арт. 9372/032/710/73</p>
                  <p>140 x 270 cm</p>
                </div>
                <div>
                  <p>Размер - XL</p>
                  <p>Всего - 2000 руб</p>
                </div>
              </div>
              <div class="cart-block-product__product-btns flex">
                <div class="product-credits__icons flex">
                  <div class="product-credits__icon icon-share"></div>
                  <div class="product-credits__icon icon-favs"></div>
                </div>
                <div class="quantity-selects">
                  <button
                    class="quantity-step"
                    id="quantity-minus"
                    type="button"
                    onclick="quantityStepDown(this)"
                  >
                    -
                  </button>
                  <input
                    type="number"
                    step="1"
                    min="0"
                    value="0"
                    readonly
                    class="quantity-select"
                  />
                  <button
                    class="quantity-step"
                    id="quantity-plus"
                    type="button"
                    onclick="quantityStepUp(this)"
                  >
                    +
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cart-block-controls flex --dir-column --a-stretch">
        <div class="cart-block-result bg bg_white">
          <div class="popup-cart__footer flex --dir-column --a-stretch">
            <div class="products-count">
              <h3>3 товара в корзине</h3>
            </div>
            <div
              class="popup-cart__footer-subresult flex --dir-column --a-stretch"
            >
              <div class="subresult subresult-sum flex --j-space-between">
                <p class="subresult__text">Стоимость товаров</p>
                <p class="subresult__price">3000 руб</p>
              </div>
              <div class="subresult subresult-delivery flex --j-space-between">
                <p class="subresult__text">Стоимость доставки</p>
                <p class="subresult__price">300 руб</p>
              </div>
            </div>
            <div class="popup-cart__footer-result">
              <div class="result flex --j-space-between">
                <p class="result__text">Общая стоимость</p>
                <p class="result__price">3300 руб</p>
              </div>
            </div>
            <div
              class="popup-cart__footer-buttons flex --dir-column --a-stretch"
            >
              @@include('bem-blocks/btn/btn.html', { "mod":"btn_color_green btn_size_m btn_width_max", "text":"Купить" })
            </div>
            <p class="after-cart-result">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
        <div class="cart-block-delivery bg bg_white">
          <div class="accodion-body">
            <div class="single-acco">
              <h2>Условия покупки и возврата<span>+</span></h2>
              <div class="accodion-body">
                <h5>ВОЗВРАЩЕНИЕ</h5>
                <p>Заказ можно вернуть двумя способами:</p>

                <p>
                  • В любом магазине Aura Home на том же рынке, где вы приобрели
                  товары. </p>
                  <p>• Спросить адресный забор в вашем аккаунте Aura Home
                  (бесплатно). </p>
                  <p>При возвращении из дома не забудьте положить в
                  коробку фискальный чек и заполненный и подписанный акт
                  возврата </p>
                  <p>При возвращении в магазине необходимо предоставить
                  фискальный чек вместе с товарами, которые вы хотите вернуть.</p>
                  <p>Обратите внимание, что возврат возможен только при
                  предъявлении распечатанного фискального чека, включенного в
                  ваш заказ. Электронный счет, добавленный к этому электронному
                  письму, предназначен только для информационных целей и может
                  быть использован для получения вашего заказа в магазине. </p>
                  <p>Чтобы
                  получить обратно свои средства в магазине, вам понадобится
                  предъявить удостоверение личности, а также заполнить и
                  подписать акт возврата
                </p>
                <h5>ВОЗВРАТ СРЕДСТВ</h5>
                <p>
                  Средства будут возвращены тем же способом, которым была
                  оплачена покупка. Если вы воспользовались несколькими
                  способами оплаты, соответствующие суммы будут возвращены
                  использованными способами. Мы отправим вам электронное
                  подтверждение возврата средств сразу после его осуществления.
                  Если прошло уже больше 14 дней, а вы еще не получили средства
                  на свой счет, обратитесь с этим подтверждением в банковское
                  учреждение, чтобы ускорить процесс возврата средств. Имейте в
                  виду: если при оформлении заказа вы выбрали наложенный платеж,
                  средства будут возвращены приведенными далее способами. – В
                  любом магазине Aura Home на том же рынке, где вы приобрели
                  товары, – наличными. - В случае запроса адресного забора в
                  вашем аккаунтеAura Home: вас попросят предоставить сведения о
                  себе для обработки банковского перевода от вашего имени.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
