.collection-slider {
  margin-bottom: var(--unit-16);
}

.collection-slide-bg {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.collection-slider-ratio {
  width: 100%;
}

.collection-slider-ratio-inner {
  position: relative;
  height: 0;
  border: none;
  padding-top: 103.456%;
}

.collection-slider-ratio-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
}

@media screen and (max-width: 767px) {
  .collection-slider {
    margin-bottom: 0;
  }
  .collection-slider-ratio-inner {
    padding-top: 72.9659685864%;
  }
}