.header {
  background: #fff;
  z-index: 25;
  .inner {
    padding: 32px 40px 17px;
    position: relative;
  }
  .menu {
    row-gap: 24px;
    position: relative;
    flex-grow: 1;
    margin-right: 40px;
  }
  .search {
    column-gap: 12px;
    align-items: center;
    transition: height .1s;
    .search-form {
      input[type="text"],
      input[type="text"]:focus,
      input[type="text"]:focus-visible {
        border-width: 0 0 1px;
        border-color: var(--main-grey);
        width: 332px;
      }
      input[type="text"]::placeholder {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 140%;
        color: var(--main-grey);
        opacity: 0.42;
      }
      input[type="text"]:focus-visible::placeholder {
        opacity: 0;
      }
    }
  }
  .icons {
    column-gap: var(--unit-16);
    position: relative;
    .icon {
      cursor: pointer;
    }
    .hidden {
      display: none;
    }
  }
}

.header.sticky {
  position: fixed;
  top: 0;
  z-index: 20;
  transition: all 0.5s;
  max-height: 80px;
  .inner {
    padding: 24px 40px;
    align-items: center;
    transition: all 0.5s;
  }
  .logo img {
    width: 53px;
    transition: width 0.5s;
  }
  .menu {
    row-gap: 0;
    margin-right: 0;
    margin-left: calc(80px - 53px);
  }
  .search {
    visibility: hidden;
    transition: height .1s;
    height: 1px;
  }
  & + .main {
    padding-top: 87.5px;
  }
}

.header.z-index-min {
  z-index: 19;
}

.search_active {
  visibility: visible !important;
  margin-bottom: -15px;
}

.header-mob {
  display: none;
}

@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
  .header-mob {
    display: block;
    position: fixed;
    z-index: 50;
    border-bottom: 1px solid #d9d9d9;
    .inner {
      min-width: 100vw;
      width: 100vw;
      padding: 13px 16px;
      column-gap: 32px;
    }
    .logo {
      display: inline-block;
    }
    .menu-mob .mm {
      display: inline-block;
      align-self: center;
    }
    .menu-mob {
      display: contents;
    }
    .logo {
      order: 2;
      width: 49px;
      height: 30px;
      margin: 0 54px;
    }
    .menu-mob .mm:nth-child(n+3) {
      order: 3;
    }
  }
}