<header class="header">
  <div class="inner width flex --j-space-between">
    <div class="logo">
      <a href="./"><img src="./img/header_logo.svg" alt="Aura Home Logo"></a>
    </div>
    <div class="menu flex --dir-column --a-center">
      <div class="search flex --j-center" id="header-search">
        <div class="icon icon-search"><img src="./img/icons-search.svg" alt="search"></div>
        <div class="search-form">
          <form action="">
            <input type="text" id="header-search-input" placeholder="Поиск">
          </form>
        </div>
      </div>
      @@include('bem-blocks/main-menu/main-menu.html')
    </div>
    <div class="icons flex">
      <div class="icon icon-search hidden" id="scroll-search">
        <label for="header-search-input">
          <img src="./img/icons-search.svg" alt="search">
        </label>
      </div>
      <div class="icon icon-contacts" id="icon-contacts">
        <img src="./img/icon-contacts.svg" alt="contacts">
        @@include('bem-blocks/icon-contacts/icon-contacts.html')
      </div>
      <div class="icon icon-favs" id="icon-favs">
        <a href="/wishlist.html">
          <img src="./img/icon-favourite-topbar.svg" alt="wishlist">
        </a>
      </div>
      <div class="icon icon-user" id="icon-user">
        <img src="./img/icon-account.svg" alt="user">
        @@include('bem-blocks/icon-user/icon-user.html')
      </div>
      <div class="icon icon-cart side-popup__cart_trigger" id="icon-cart">
        <img src="./img/icon-shopping-bag.svg" alt="cart">
      </div>
    </div>
  </div>
</header>
<header class="header-mob bg bg_white">
  <div class="inner flex --j-space-between">
    <div class="logo">
      <a href="./"><img src="./img/header_logo.svg" alt="Aura Home Logo" width="49" height="30"></a>
    </div>
    <div class="menu-mob flex">
      <div class="mm menu-mob__nav">
        <div class="icon icon-mob-menu" id="menu-mob">
          <img src="./img/icon-menu-mobile.svg" alt="menu">
          @@include('bem-blocks/icon-menu-mob/icon-menu-mob.html')
        </div>
      </div>
      <div class="mm menu-mob__search">
        <div class="icon icon-search" id="search-mob">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.08 1.44C5.57811 1.44 1.91998 5.09813 1.91998 9.6C1.91998 14.1019 5.57811 17.76 10.08 17.76C11.8612 17.76 13.5075 17.1863 14.85 16.215L21.165 22.515L22.515 21.165L16.275 14.91C17.5012 13.4813 18.24 11.6269 18.24 9.6C18.24 5.09813 14.5819 1.44 10.08 1.44ZM10.08 2.4C14.0625 2.4 17.28 5.6175 17.28 9.6C17.28 13.5825 14.0625 16.8 10.08 16.8C6.09748 16.8 2.87998 13.5825 2.87998 9.6C2.87998 5.6175 6.09748 2.4 10.08 2.4Z" fill="#4E4E4E"/>
            </svg>
          @@include('bem-blocks/icon-search-mob/icon-search-mob.html')
        </div>
      </div>
      <div class="mm menu-mob__contacts">
        <div class="icon icon-contacts" id="contacts-mob">
          <img src="./img/icon-contacts.svg" alt="contacts">
          @@include('bem-blocks/icon-contacts/icon-contacts.html')
        </div>
      </div>
      <div class="mm menu-mob__cart">
        <div class="icon icon-cart side-popup__cart_trigger" id="cart-mob">
          <img src="./img/icon-shopping-bag.svg" alt="cart">
        </div>
      </div>
    </div>
  </div>
</header>