<header class="header">
  <div class="inner width flex --j-space-between">
    <div class="logo">
      <a href="./"><img src="./img/header_logo.svg" alt="Aura Home Logo"></a>
    </div>
    <div class="menu flex --dir-column --a-center">
      <div class="search flex --j-center" id="header-search">
        <div class="icon icon-search"><img src="./img/icons-search.svg" alt="search"></div>
        <div class="search-form">
          <form action="">
            <input type="text" id="header-search-input" placeholder="Поиск">
          </form>
        </div>
      </div>
      @@include('bem-blocks/main-menu/main-menu.html')
    </div>
    <div class="icons flex">

      <div class="icon icon-search hidden" id="scroll-search">
        <label for="header-search-input">
          <img src="./img/icons-search.svg" alt="search">
        </label>
      </div>
      <div class="icon icon-contacts" id="icon-contacts">
        <img src="./img/icon-contacts.svg" alt="contacts">
        @@include('bem-blocks/icon-contacts/icon-contacts.html')
      </div>
      <div class="icon icon-favs" id="icon-favs"><a href="/wishlist.html"><img src="./img/icon-favourite-topbar.svg" alt="wishlist"></a></div>
      <div class="icon icon-user" id="icon-user">
        <img src="./img/icon-account.svg" alt="user">
        @@include('bem-blocks/icon-user/icon-user.html')
      </div>
      <div class="icon icon-cart side-popup__cart_trigger" id="icon-cart"><img src="./img/icon-shopping-bag.svg" alt="cart"></div>
    </div>
  </div>
</header>