.header {
  background: #fff;
  z-index: 1501;
  .inner {
    padding: 32px 40px 17px;
    position: relative;
  }
  .menu {
    row-gap: 24px;
    position: relative;
    flex-grow: 1;
    margin-right: 40px;
  }
  .search {
    column-gap: 12px;
    align-items: center;
    transition: height .1s;
    .search-form {
      input[type="text"],
      input[type="text"]:focus,
      input[type="text"]:focus-visible {
        border-width: 0 0 1px;
        border-color: var(--main-grey);
        width: 332px;
      }
      input[type="text"]::placeholder {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 140%;
        color: var(--main-grey);
        opacity: 0.42;
      }
      input[type="text"]:focus-visible::placeholder {
        opacity: 0;
      }
    }
  }
  .icons {
    column-gap: var(--unit-16);
    position: relative;
    .icon {
      cursor: pointer;
    }
    .hidden {
      display: none;
    }
  }
}

.header.sticky {
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: all 0.5s;
  max-height: 80px;
  .inner {
    padding: 24px 40px;
    align-items: center;
    transition: all 0.5s;
  }
  .logo img {
    width: 53px;
    transition: width 0.5s;
  }
  .menu {
    row-gap: 0;
    margin-right: 0;
    margin-left: calc(80px - 53px);
  }
  .search {
    visibility: hidden;
    transition: height .1s;
    height: 1px;
  }
  & + .main {
    padding-top: 116.5px;
  }
}

.search_active {
  visibility: visible !important;
  margin-bottom: -15px;
}