<header class="header">
  <div class="inner flex --j-space-between">
    <div class="logo">
      <a href="/"><img src="./img/header_logo.svg" alt="Aura Home Logo"></a>
    </div>
    <div class="menu flex --dir-column --a-center">
      <div class="search flex --j-center">
        <div class="icon icon-search"><img src="./img/icons-search.svg" alt="search"></div>
        <div class="search-form">
          <form action="">
            <input type="text" placeholder="Поиск">
          </form>
        </div>
      </div>
      <div class="main-menu">
        <nav class="nav">
          <ul class="flex --j-space-between">
            <li class="main-menu_item"><a href="/category-page.html">Спальня</a></li>
            <li class="main-menu_item"><a href="#">Гостинная</a></li>
            <li class="main-menu_item"><a href="#">Кухня</a></li>
            <li class="main-menu_item"><a href="#">Столовая</a></li>
            <li class="main-menu_item"><a href="#">Ванная</a></li>
            <li class="main-menu_item"><a href="/category-page-clothe.html">Одежда и обувь</a></li>
            <li class="main-menu_item"><a href="#">Ароматы для дома</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="icons flex">
      <div class="icon icon-search hidden" id="scroll-search"><img src="./img/icons-search.svg" alt="search"></div>
      <div class="icon icon-contacts"><img src="./img/icon-contacts.svg" alt="search"></div>
      <div class="icon icon-favs"><img src="./img/icon-favourite-topbar.svg" alt="search"></div>
      <div class="icon icon-user"><img src="./img/icon-account.svg" alt="search"></div>
      <div class="icon icon-cart"><img src="./img/icon-shopping-bag.svg" alt="search"></div>
    </div>
  </div>
</header>