.breadcrumps {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  color: var(--main-grey);
  padding-top: 39px;
}

@media screen and (max-width: 767px) {
  .breadcrumps {
    padding: 15px 0 3px;
    font-size: 10px;
  }
}