<div class="products-loop">
  <div class="products-loop--inner">
    @@include('product-card/product-card.html')
    @@include('product-card/product-card.html')
    @@include('product-card/product-card.html')
    @@include('product-card/product-card.html')
    @@include('product-card/product-card.html')
    @@include('product-card/product-card.html')
    @@include('product-card/product-card.html')
    @@include('product-card/product-card.html')
    @@include('product-card/product-card.html')
    @@include('product-card/product-card.html')
    @@include('product-card/product-card.html')
    @@include('product-card/product-card.html')    
  </div>
</div>