<div class="mobile-slider">
  <div class="mobile-slider-item mobile-slider-ratio">
    <div class="mobile-slider-ratio-inner" style="background:url(./img/single-product-main.webp) center center no-repeat; background-size:cover;">
      <div class="mobile-slider-ratio-content"></div>
    </div>
  </div>
  <div class="mobile-slider-item mobile-slider-ratio">
    <div class="mobile-slider-ratio-inner" style="background:url(./img/single-product-gallery-1.webp) center center no-repeat; background-size:cover;">
      <div class="mobile-slider-ratio-content"></div>
    </div>
  </div>
  <div class="mobile-slider-item mobile-slider-ratio">
    <div class="mobile-slider-ratio-inner" style="background:url(./img/single-product-gallery-2.webp) center center no-repeat; background-size:cover;">
      <div class="mobile-slider-ratio-content"></div>
    </div>
  </div>
</div>