<div class="mobile-slider">
  <a class="mobile-slider-item mobile-slider-ratio" href="./img/single-product-main.webp">
    <div class="mobile-slider-ratio-inner" style="background:url(./img/single-product-main.webp) center center no-repeat; background-size:cover;">
      <div class="mobile-slider-ratio-content">
      </div>
    </div>
  </a>
  <a class="mobile-slider-item mobile-slider-ratio" href="./img/single-product-main-zoom-1.webp">
    <div class="mobile-slider-ratio-inner" style="background:url(./img/single-product-gallery-1.webp) center center no-repeat; background-size:cover;">
      <div class="mobile-slider-ratio-content">
      </div>
    </div>
  </a>
  <a class="mobile-slider-item mobile-slider-ratio" href="./img/single-product-main.webp">
    <div class="mobile-slider-ratio-inner" style="background:url(./img/single-product-gallery-2.webp) center center no-repeat; background-size:cover;">
      <div class="mobile-slider-ratio-content">
      </div>
    </div>
  </a>
</div>