<div class="products-slider-block width bg bg_white">
  <h2>Новые поступления</h2>
  <div class="products-slider">
    <div class="slick-slideshow__slide">
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize":"product-card__images_size_small",
        "modificator":"slider_dots_disabled slider_favourites_enabled slider_arrows_hover"
      })
    </div>
    <div class="slick-slideshow__slide">
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize":"product-card__images_size_small",
        "modificator":"slider_dots_disabled slider_favourites_enabled slider_arrows_hover"
      })
    </div>
    <div class="slick-slideshow__slide">
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize":"product-card__images_size_small",
        "modificator":"slider_dots_disabled slider_favourites_enabled slider_arrows_hover"
      })
    </div>
     <div class="slick-slideshow__slide">
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize":"product-card__images_size_small",
        "modificator":"slider_dots_disabled slider_favourites_enabled slider_arrows_hover"
      })
    </div>
     <div class="slick-slideshow__slide">
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize":"product-card__images_size_small",
        "modificator":"slider_dots_disabled slider_favourites_enabled slider_arrows_hover"
      })
    </div>
    <div class="slick-slideshow__slide">
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize":"product-card__images_size_small",
        "modificator":"slider_dots_disabled slider_favourites_enabled slider_arrows_hover"
      })
    </div>
    <div class="slick-slideshow__slide">
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize":"product-card__images_size_small",
        "modificator":"slider_dots_disabled slider_favourites_enabled slider_arrows_hover"
      })
    </div>
    <div class="slick-slideshow__slide">
      @@include('bem-blocks/products/products-loop/product-card/product-card.html', {
        "imagesize":"product-card__images_size_small",
        "modificator":"slider_dots_disabled slider_favourites_enabled slider_arrows_hover"
      })
    </div>
  </div>
</div>