<div class="contacts-dropdown dropdown-menu">
  <div class="contacts-dropdown__content flex --dir-column">
    <div class="mobile-nav-menu">
      <ul class="mobile-nav-menu-level-1">
        <li class="mobile-nav-menu-level-1-item">
          <a href="#">Спальня</a>
          <ul class="mobile-nav-menu-level-2 bg_grey">
            <li><a href="./category-page.html">Постельное белье</a></li>
            <li><a href="./category-page.html">Покрывала</a></li>
            <li><a href="./category-page.html">Пледы</a></li>
            <li><a href="./category-page.html">Подушки</a></li>
            <li><a href="./category-page.html">Одеяла</a></li>
            <img src="./img/menu-dropdown-img.webp" alt="">
            <li><a href="./category-page.html">Новые поступления</a></li>
            <li><a href="./category-page.html">Весь ассортимент</a></li>
          </ul>
        </li>
        <li class="mobile-nav-menu-level-1-item">
          <a href="#">Гостиная</a>
          <ul class="mobile-nav-menu-level-2 bg_grey">
            <li><a href="./category-page.html">Пледы</a></li>
            <li><a href="./category-page.html">Декор подушки</a></li>
            <li><a href="./category-page.html">Вазы</a></li>
            <li><a href="./category-page.html">Свечи и подсвечники</a></li>
            <li><a href="./category-page.html">Декоративные аксессуары</a></li>
            <img src="./img/menu-dropdown-img.webp" alt="">
            <li><a href="./category-page.html">Новые поступления</a></li>
            <li><a href="./category-page.html">Весь ассортимент</a></li>
          </ul>
        </li>
        <li class="mobile-nav-menu-level-1-item">
          <a href="#">Кухня</a>
          <ul class="mobile-nav-menu-level-2 bg_grey">
            <li><a href="./category-page.html">Посуда для приготовления</a></li>
            <li><a href="./category-page.html">Кухонные принадлежности</a></li>
            <li><a href="./category-page.html">Кухонный текстиль</a></li>
            <li><a href="./category-page.html">Аксессуары и декор</a></li>
            <img src="./img/menu-dropdown-img.webp" alt="">
            <li><a href="./category-page.html">Новые поступления</a></li>
            <li><a href="./category-page.html">Весь ассортимент</a></li>
          </ul>
        </li>
        <li class="mobile-nav-menu-level-1-item">
          <a href="#">Столовая</a>
          <ul class="mobile-nav-menu-level-2 bg_grey">
            <li><a href="./category-page.html">Сервировка</a></li>
            <li><a href="./category-page.html">Кофе и чай</a></li>
            <li><a href="./category-page.html">Столовые приборы</a></li>
            <li><a href="./category-page.html">Изделия из стекла</a></li>
            <li><a href="./category-page.html">Текстиль</a></li>
            <li><a href="./category-page.html">Аксессуары для стола</a></li>
            <img src="./img/menu-dropdown-img.webp" alt="">
            <li><a href="./category-page.html">Новые поступления</a></li>
            <li><a href="./category-page.html">Весь ассортимент</a></li>
          </ul>
        </li>
        <li class="mobile-nav-menu-level-1-item">
          <a href="#">Ванная</a>
          <ul class="mobile-nav-menu-level-2 bg_grey">
            <li><a href="./category-page.html">Полотенца</a></li>
            <li><a href="./category-page.html">Халаты и тапочки</a></li>
            <li><a href="./category-page.html">Коврики в ванной</a></li>
            <li><a href="./category-page.html">Натуральная косметика</a></li>
            <li><a href="./category-page.html">Аксессуары</a></li>
            <img src="./img/menu-dropdown-img.webp" alt="">
            <li><a href="./category-page.html">Новые поступления</a></li>
            <li><a href="./category-page.html">Весь ассортимент</a></li>
          </ul>
        </li>
        <li class="mobile-nav-menu-level-1-item">
          <a href="#">Одежда и обувь</a>
          <ul class="mobile-nav-menu-level-2 bg_grey">
            <li><a href="./category-page.html">Женщины</a></li>
            <li><a href="./category-page.html">Мужчины</a></li>
            <li><a href="./category-page.html">Дети</a></li>
            <img src="./img/menu-dropdown-img.webp" alt="">
            <li><a href="./category-page.html">Новые поступления</a></li>
            <li><a href="./category-page.html">Весь ассортимент</a></li>
          </ul>
        </li>
        <li class="mobile-nav-menu-level-1-item">
          <a href="#">Ароматы для дома</a>
          <ul class="mobile-nav-menu-level-2 bg_grey">
            <img src="./img/menu-dropdown-img.webp" alt="">
            <li><a href="./category-page.html">Новые поступления</a></li>
            <li><a href="./category-page.html">Весь ассортимент</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="mobile-nav-footer flex">
      <div class="mobile-nav-wishlist bg_grey flex --j-center">
        <a href="./wishlist.html">Список желаний</a>
      </div>
      <div class="mobile-nav-account bg_grey flex --j-center">
        <a href="./account.html">Личный кабинет</a>
      </div>
    </div>
  </div>
</div>