.main-slider {
  height: 912px;
  .slider-item {
    background-size: cover;
    height: 912px;
    a.item__text {
      height: 100%;
      width: 1440px;
      margin: 0 auto;
      h1 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 128px;
        line-height: 100%;
        text-align: center;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }
  }
}