.size-table {
  &__title {
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 1px solid #d9d9d9;
    h5 {
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      color: var(--main-grey);
    }
  }
  &__popup-trigger {
    column-gap: 4px;
    a {
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      text-decoration-line: underline;
      color: var(--main-grey);
    }
    &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url("./img/icon-ruler.svg") center center no-repeat;
    }
  }
  &__body {
    width: 100%;
  }
  &__item {
    width: 100%;
    padding: 8px 16px;
    min-height: 40px;
    cursor: pointer;
    &:hover {
      background: var(--grey);
    }
  }
}

.size,
.price {
  p {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--main-grey);
  }
}

.size {
  p {
    font-weight: 600;
  }
}

.price {
  p {
    font-weight: 400;
  }
  &.disable {
    display: none;
  }
}

.quantity-selects {
  display: none;
  &.enable {
    display: block;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
  }
  input[type="number"],
  input[type="number"]:hover,
  input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
  }
  input {
    all: unset;
    min-width: 16px;
    width: 16px;
    height: 16px;
    text-align: center;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: #ffffff;
    background: var(--green);
    border-radius: 50%;
  }
  .quantity-step {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: var(--main-grey);
    cursor: pointer;
    border: none;
    width: 24px;
    height: 24px;
    background: transparent;
    &:hover {
      background: #d9d9d9;
    }
  }
}
