<div class="accordion-body">
  <div class="single-acco">
    <h2>Ханты-Мансийский округ, Сургут, ул. Южнобережная 22, корпус 10<span>+</span></h2>
    <div class="accodion-body">
      <form action="" class="flex --dir-column">
        <div class="flex --dir-column">
          <label for="acc1_1">Область, регион</label>
          <input type="text" value="Ханты-Мансийский округ" id="acc1_1">
        </div>
        <div class="flex --dir-column">
          <label for="acc1_2">Город</label>
          <input type="text" value="Сурвывфыгут" id="acc1_2">
        </div>
        <div class="flex --dir-column">
          <label for="acc1_3">Улица, дом</label>
          <input type="text" value="" id="acc1_3" placeholder="Н-р, ул. Кутузова 212">
        </div>
        <div class="flex --dir-column">
          <label for="acc1_4">Квартира, корпус</label>
          <input type="text" value="" id="acc1_4" placeholder="Н-р, кв.23">
        </div>
        <div class="acco-form-buttons flex">
          @@include('bem-blocks/btn/btn.html', {
            "mod":"btn_color_white btn_size_m",
            "text":"Удалить адрес"
          })
          @@include('bem-blocks/btn/btn.html', {
            "mod":"btn_color_green btn_size_m",
            "text":"Применить изменения"
          })
        </div>
      </form>
    </div>
  </div>
  <div class="single-acco">
    <h2>Ханты-Мансийский округ, Сургут, ул. Южнобережная 22, корпус 10<span>+</span></h2>
    <div class="accodion-body">
      <form action="" class="flex --dir-column">
        <div class="flex --dir-column">
          <label for="acc1_1">Область, регион</label>
          <input type="text" value="Ханты-Мансийский округ" id="acc1_1">
        </div>
        <div class="flex --dir-column">
          <label for="acc1_2">Город</label>
          <input type="text" value="Сурвывфыгут" id="acc1_2">
        </div>
        <div class="flex --dir-column">
          <label for="acc1_3">Улица, дом</label>
          <input type="text" value="" id="acc1_3" placeholder="Н-р, ул. Кутузова 212">
        </div>
        <div class="flex --dir-column">
          <label for="acc1_4">Квартира, корпус</label>
          <input type="text" value="" id="acc1_4" placeholder="Н-р, кв.23">
        </div>
        <div class="acco-form-buttons flex">
          @@include('bem-blocks/btn/btn.html', {
            "mod":"btn_color_white btn_size_m",
            "text":"Удалить адрес"
          })
          @@include('bem-blocks/btn/btn.html', {
            "mod":"btn_color_green btn_size_m",
            "text":"Применить изменения"
          })
        </div>
      </form>
    </div>
  </div>
  <div class="single-acco opacitied">
    <h2>Добавить адрес<span>+</span></h2>
    <div class="accodion-body">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet hic blanditiis architecto pariatur fugit culpa laudantium a aspernatur tempore? Reprehenderit quibusdam eaque ducimus optio odit veritatis? Eveniet nostrum dolor quisquam!</p>
    </div>
  </div>
</div>