<div class="promo bg bg_grey">
  <div class="width">
    <div class="promo__wrapper">
      <div class="promo__inner flex --dir-column --j-end --a-center">
        <div class="promo__content flex --dir-column --a-center">
          <h2 class="promo__title">Специальное предложение - скидка 50%</h2>
          <p class="promo__subtitle">Краткое описание товара либо слоган</p>
        </div>
        <a href="./category.html">
          @@include('bem-blocks/btn/btn.html', {
            "mod":"btn_color_white btn_w_348 btn_h_64 btn_font_18",
            "text":"Приобрести сейчас"
          })
        </a>
        
      </div>
    </div>
  </div>
</div>

