.topbar-search-form {
  padding: 42px 88px 0;
  column-gap: 24px;
  form {
    flex-grow: 1;
    height: 45px;
  }
  input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--main-grey);
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 140%;
    color: var(--main-grey);
    background: transparent;
  }
  & ~ .products-filter__inner {
    padding-top: 42px;
  }
}

.icon-clear {
  cursor: pointer;
  &::after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background: url("/img/icon-clear.svg") center center no-repeat;
  }
  
}