.collection {
  width: 32%;
  &.favourite::before {
    content: '';
    background: url(../img/icon-favourite-card-white.svg) center center no-repeat;
  }
  &__link {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 140%;
    color: var(--main-grey);
    a::after {
      content: '';
      background: url(../img/right-arrow.svg) center center no-repeat;
      width: 24px;
      height: 31px;
      display: inline-block;
      position: relative;
      bottom: -5px;
      right: -8px;
      transition: all .5s;
    }
    a:hover::after {
      right: -16px;
      transition: all .5s;
    }
  }
}

@media screen and (max-width: 767px) {
  .collection {
    width: 100%;
    row-gap: 24px;
    &:last-child {
      display: none;
    }
    &__link {
      font-size: 20px;
    }
  }
}